.hero {
  display: flex;
  gap:30px;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
input[type=text] {
  width: 300px;
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #1e9fe9;
	background: rgba(#160007, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #1e76e9;
}
.hero-image {
  width: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
  pointer-events: none;
}

.tip {
  color: blue;
  font-size: 0.8rem !important;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.blackBox {
  background-color: rgb(41, 41, 41);
  color: rgb(223, 219, 219);
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  height: 500px;
  word-wrap: break-word;
  overflow: auto;
}
.blackBox pre {
  height: 350px ;
  max-height: 480px ;
  word-wrap: pre-wrap;
  margin: 0;
  white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
  

  .hero p {
    font-size: 1.3rem;
  }
}
